
  {% extends 'base.html' %}

  {% block content  %}


    <!-- main -->
    <main class="page">
        <!-- header -->
        <header class="hero">
          <div class="hero-container">
            <div class="hero-text">
              <h1>simply recipes</h1>
              <h4>no fluff, just recipes</h4>
            </div>
          </div>
        </header>
        <!-- end of header -->
        <section class="recipes-container">
          <!-- tag container -->
          <div class="tags-container">
            <h4>recipes</h4>
            <div class="tags-list">
                {% for category in categories  %}
              <a href="{% url 'property_by_category' category %}">{{ category.name }} ({{category.post_count}})</a>
              {% endfor %}
            
            </div>
          </div>
          <!-- end of tag container -->
          <!-- recipes list -->
          <div class="recipes-list">

            {% for object in  object_list %}
            <!-- single recipe -->
            <a href="{{object.get_absolute_url}}" class="recipe">
              <img
                src="{{object.image.url}}"
                class="img recipe-img"
                alt=""
              />
              <h5>{{ object.name }}</h5>
              <p>Prep : {{ object.prep_time }} min | Cook : {{ object.cook_time }}min</p>
            </a>
            <!-- end of single recipe -->
            {% endfor %}
         
          </div>
          <!-- end of recipes list -->
        </section>
      </main>
      <!-- end of main -->
    
  
  
  {% endblock content  %}